@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px;
  overflow-x: hidden; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

* {
  font-family: 'Raleway', sans-serif; }

.btn {
  background-color: #3EC28F;
  color: white;
  font-size: .75rem;
  font-weight: 300;
  letter-spacing: .05rem;
  padding: .875rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  @media (min-width: 800px) {
    .btn {
      font-size: .875rem;
      padding: .625rem 2rem; } }
  @media (min-width: 1200px) {
    .btn {
      font-size: 1rem; } }
  .btn:hover {
    background-color: #18a26e; }
  .btn:focus {
    outline: none; }
  .btn.signup-btn {
    font-size: .875rem;
    position: fixed;
    top: 1rem;
    right: 1.25rem;
    border: 1px solid rgba(24, 162, 110, 0.3);
    z-index: 9999; }

.header {
  color: white;
  font-weight: 500;
  letter-spacing: .05rem; }

.figma-logo {
  width: 30px;
  height: 45px; }
  @media (min-width: 800px) {
    .figma-logo {
      width: 22px;
      height: 33px; } }

.section {
  padding: 2.25rem 0; }
  @media (min-width: 800px) {
    .section {
      padding: 4.375rem 0; } }
  @media (min-width: 1320px) {
    .section {
      padding: 70px 0; } }

.paragraph {
  color: white;
  letter-spacing: .05rem;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.25rem; }
  @media (min-width: 960px) {
    .paragraph {
      font-size: .9rem;
      line-height: 1.5rem; } }
  @media (min-width: 1200px) {
    .paragraph {
      font-size: 1rem;
      line-height: 1.675rem; } }

#mobile-menu-btn {
  fill: #fff;
  width: 1.25rem;
  height: 1.125rem; }
  @media (min-width: 800px) {
    #mobile-menu-btn {
      display: none; } }

.gif {
  width: 83vw;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  background-color: lightgrey; }
  @media (min-width: 960px) {
    .gif {
      display: none; } }

.video {
  width: 56vw;
  height: auto;
  background-color: lightgrey; }
  @media (max-width: 959px) {
    .video {
      display: none; } }
  @media (min-width: 1320px) {
    .video {
      margin-right: auto;
      max-width: 739px; } }

.main-header {
  background-color: black;
  height: 4.3rem;
  padding: .625rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  width: 31.5rem;
  margin-right: 9rem;
  display: flex; }
  @media (max-width: 799px) {
    .nav {
      display: none; } }
  .nav .nav__list {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .nav .nav__list .nav__list-item {
      font-size: .95rem; }
      .nav .nav__list .nav__list-item .nav__link {
        text-decoration: none;
        color: #a6a6a6; }

.hero {
  background-color: black;
  width: 100%;
  max-width: 100vw;
  padding: 2.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @media (min-width: 800px) {
    .hero {
      padding: 4.375rem 0; } }
  @media (min-width: 960px) {
    .hero {
      padding: 4.375rem 1.875rem;
      flex-direction: row-reverse;
      justify-content: space-between; } }
  @media (min-width: 1320px) {
    .hero {
      padding: 70px 0; } }
  .hero .hero__text {
    width: 83vw;
    max-width: 410px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 480px) {
      .hero .hero__text {
        padding: 0 1rem; } }
    @media (min-width: 615px) {
      .hero .hero__text {
        padding: 0; } }
    @media (min-width: 960px) {
      .hero .hero__text {
        width: 32vw;
        min-height: 400px;
        height: auto;
        margin-top: 0;
        padding-top: 5%;
        align-items: flex-start; } }
    @media (min-width: 1200px) {
      .hero .hero__text {
        padding-top: 3%; } }
    @media (min-width: 1320px) {
      .hero .hero__text {
        margin-left: auto;
        margin-right: 5rem;
        padding-top: 2.25rem; } }
    .hero .hero__text .hero__header {
      font-size: 1.125rem;
      margin-bottom: 1rem; }
      @media (min-width: 615px) {
        .hero .hero__text .hero__header {
          font-size: 1.675rem; } }
      @media (min-width: 960px) {
        .hero .hero__text .hero__header {
          font-size: 2.75rem;
          font-weight: 500;
          margin-bottom: 2.25rem; } }
      @media (min-width: 1200px) {
        .hero .hero__text .hero__header {
          font-size: 3.875rem;
          font-weight: 500;
          margin-bottom: 2.75rem; } }
    .hero .hero__text .hero__paragraph {
      text-align: center;
      margin-bottom: 1.5rem; }
      @media (min-width: 960px) {
        .hero .hero__text .hero__paragraph {
          text-align: left;
          margin-bottom: 1.75rem; } }
      @media (min-width: 1200px) {
        .hero .hero__text .hero__paragraph {
          margin-bottom: 2.75rem; } }
    .hero .hero__text .hero__try-figma-btn {
      padding: .875rem 2rem; }
      @media (min-width: 960px) {
        .hero .hero__text .hero__try-figma-btn {
          padding: 1rem 2.5rem; } }
      @media (min-width: 1200px) {
        .hero .hero__text .hero__try-figma-btn {
          padding: 1.125rem 2.675rem; } }

.brands {
  background-color: black;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 800px) {
    .brands {
      padding-left: 0;
      padding-right: 0; } }
  .brands .brands__header {
    margin-bottom: 4.75rem; }
  .brands .brands__logo-grid {
    display: flex;
    justify-content: center;
    max-width: 1040px;
    padding: 0 2rem;
    width: 300px; }
    @media (min-width: 480px) {
      .brands .brands__logo-grid {
        width: 90vw;
        padding: 0 1.5rem; } }
    @media (min-width: 615px) {
      .brands .brands__logo-grid {
        width: 80vw; } }
    @media (min-width: 800px) {
      .brands .brands__logo-grid {
        width: 100%;
        width: 100vw;
        padding: 0; } }
    .brands .brands__logo-grid .brands__logo-grid__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 auto; }
      @media (min-width: 800px) {
        .brands .brands__logo-grid .brands__logo-grid__row {
          width: 100%; } }
      .brands .brands__logo-grid .brands__logo-grid__row .brands__logo-grid__img {
        width: 77px;
        max-width: 77px;
        height: 77px;
        max-height: 77px;
        margin-bottom: 60px;
        margin-left: .5rem;
        margin-right: .5rem; }
        @media (min-width: 480px) {
          .brands .brands__logo-grid .brands__logo-grid__row .brands__logo-grid__img {
            margin-left: 6%;
            margin-right: 6%; } }
        @media (min-width: 800px) {
          .brands .brands__logo-grid .brands__logo-grid__row .brands__logo-grid__img {
            margin-left: 3.5%;
            margin-right: 3.5%;
            margin-bottom: 50px; } }

.testimonials {
  color: white;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  letter-spacing: .05rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 800px) {
    .testimonials {
      padding: 7rem 5rem; } }
  .testimonials.green {
    background-color: #3EC28F; }
  .testimonials.purple {
    background-color: #c095fa; }
  .testimonials__quote {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 2rem; }
    @media (min-width: 800px) {
      .testimonials__quote {
        width: 75%;
        font-size: 1.125rem;
        line-height: 1.75rem; } }
    @media (min-width: 1200px) {
      .testimonials__quote {
        font-size: 1.25rem;
        line-height: 1.875rem; } }
  .testimonials__img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .testimonials__name {
    font-size: .875rem;
    text-align: center;
    opacity: .75; }

.hidden {
  display: none; }
