$breakpoints: (
  'mobile-sm' : 320px,
  'mobile-lg' : 480px,
  'tablet-sm' : 650px,
  'tablet-lg' : 736px,
  'screen-sm' : 800px,
  'screen-lg' : 960px,
  'screen-xlg' : 1200px,
  'screen-xxlg' : 1320px
);

@mixin breakpoint-mobile-sm-down {
  $max-value: map-get($breakpoints, mobile-lg) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-mobile-sm-up {
  $min-value: map-get($breakpoints, mobile-sm);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-mobile-lg-down {
  $max-value: map-get($breakpoints, tablet-sm) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-mobile-lg-up {
  $min-value: map-get($breakpoints, mobile-lg);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-tablet-sm-down {
  $max-value: map-get($breakpoints, tablet-lg) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-tablet-sm-up {
  $min-value: map-get($breakpoints, tablet-sm);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-tablet-lg-down {
  $max-value: map-get($breakpoints, screen-sm) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-tablet-lg-up {
  $min-value: map-get($breakpoints, tablet-lg);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-screen-sm-down {
  $max-value: map-get($breakpoints, screen-lg) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-screen-sm-up {
  $min-value: map-get($breakpoints, screen-sm);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-screen-lg-down {
  $max-value: map-get($breakpoints, screen-xlg) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-screen-lg-up {
  $min-value: map-get($breakpoints, screen-lg);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-screen-xlg-down {
  $max-value: map-get($breakpoints, screen-xxlg) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-screen-xlg-up {
  $min-value: map-get($breakpoints, screen-xlg);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-screen-xxlg-up {
  $min-value: map-get($breakpoints, screen-xxlg);

  @media (min-width: $min-value) {
    @content;
  }
}
