@import  '../utilities/_breakpoints.scss';

$hero_text_width--mobile-sm: 83vw;
$hero_text_max_width--mobile-sm: 400px;

$hero_text_width--screen-lg: 32vw;
$hero_text_max_width: 410px;

.hero {
  background-color: black;
  width: 100%;
  max-width: 100vw;
  padding: 2.25rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include breakpoint-screen-sm-up {
    padding: 4.375rem 0;
  }

  @include breakpoint-screen-lg-up {
    padding: 4.375rem 1.875rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @include breakpoint-screen-xxlg-up {
    padding: 70px 0;
  }


  .hero__text {
    width: $hero_text_width--mobile-sm;
    //max-width: $hero_text_max_width--mobile-sm;
    max-width: $hero_text_max_width;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-mobile-lg-up {
      padding: 0 1rem;
    }

    @include breakpoint-tablet-sm-up {
      padding: 0;
    }

    @include breakpoint-screen-lg-up {
      width: $hero_text_width--screen-lg;
      min-height: 400px;
      height: auto;
      margin-top: 0;
      padding-top: 5%;

      align-items: flex-start;
    }

    @include breakpoint-screen-xlg-up {
      padding-top: 3%;
    }

    @include breakpoint-screen-xxlg-up {
      margin-left: auto;
      margin-right: 5rem;
      padding-top: 2.25rem;
    }

    .hero__header {
      font-size: 1.125rem;
      margin-bottom: 1rem;

      @include breakpoint-tablet-sm-up {
        font-size: 1.675rem;
      }

      @include breakpoint-screen-lg-up {
        font-size: 2.75rem;
        font-weight: 500;
        margin-bottom: 2.25rem;
      }

      @include breakpoint-screen-xlg-up {
        font-size: 3.875rem;
        font-weight: 500;
        margin-bottom: 2.75rem;
      }
    }

    .hero__paragraph {
      text-align: center;
      margin-bottom: 1.5rem;
      max-width: 25rem;



      @include breakpoint-screen-lg-up {
        text-align: left;
        margin-bottom: 1.75rem;
        width: 100%;
      }

      @include breakpoint-screen-xlg-up {

        margin-bottom: 2.75rem;
      }
    }

    .hero__cta-btn {
      padding: .875rem 2rem;

      @include breakpoint-screen-lg-up {
        padding: 1rem 2.5rem;
      }

      @include breakpoint-screen-xlg-up {
        padding: 1.125rem 2.675rem;
      }
    }
  }
}
