@import  '../utilities/_breakpoints.scss';

.tutorials {
  background-color: black;

  padding-left: 1.875rem;
  padding-right: 1.875rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .tutorials__header {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 1.25rem;

    @include breakpoint-screen-xlg-up {
      font-size: 1.375rem;
      margin-bottom: 1.75rem;
    }
  }

  .tutorials__subheader {
    max-width: 640px;
    text-align: center;
    margin-bottom: 4.5rem;

    @include breakpoint-screen-sm-up {
      font-size: .9rem;
      width: 40rem;
    }

    @include breakpoint-screen-xlg-up {
      font-size: 1rem;
      margin-bottom: 5rem;
    }
  }

  .tutorials__tile-grid {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-screen-sm-up {
      flex-direction: row;
      justify-content: space-between;
    }


    .tutorials__tile {
      width: 100%;
      margin-bottom: 4rem;
      max-width: 360px;

      &.bottom-tile {
        margin-bottom: 0;
      }

      @include breakpoint-screen-sm-up {
        width: 30.75%;
        margin-bottom: 0;
        min-height: 412px;
      }

      .tutorials__tile-img {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
      }

      .tutorials__tile-header {
        font-weight: 400;
        margin-bottom: 1rem;

        @include breakpoint-screen-sm-up {
          font-size: 1.125rem;
          line-height: 1.5rem;
        }

        @include breakpoint-screen-xlg-up {
          font-size: 1.375rem;
          line-height: 1.675rem;
        }
      }

      .tutorials__learn-more-link {
        font-size: .95rem;

        @include breakpoint-screen-xlg-up {
          font-size: 1.125rem;
        }
      }

    }
  }
}
