@import  '../utilities/_breakpoints.scss';

.paragraph {
  color: white;
  letter-spacing: .05rem;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.25rem;


  @include breakpoint-screen-lg-up {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  @include breakpoint-screen-xlg-up {
    font-size: 1rem;
    line-height: 1.675rem;
  }
}
