@import  '../utilities/_breakpoints.scss';

$video_width--mobile: 56vw;
$video_max_width: 739px;

.video {
  // Video should only be displayed on larger screens
  @include breakpoint-screen-sm-down {
    display: none;
  }


  width: $video_width--mobile;
  height: auto;
  //max-width: $video_max_width--mobile;
  //max-height: $video_max_width--mobile;
  background-color: lightgrey;

  @include breakpoint-screen-xxlg-up {
    margin-right: auto;
    max-width: $video_max_width;
  }
}
